
<% @artists.each do |artist| %>
<%= render :partial => 'artist', :locals => {:artist => artist} %>

<% end %>


<div class="row">
    <div class="large-12 columns">
 
      <div class="row">
 
    <!-- Thumbnails -->
          <a href="<%= artist_path(60) %>">
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>
          </a>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&text=Thumbnail" />
            <h6 class="panel">Description</h6>
          </div>
 
    <!-- End Thumbnails -->
 
 
    <!-- Managed By -->
 
    <!-- End Managed By -->
 
          </div>
        </div>
      </div>
  
    </div>
  </div>