<!-- this gets appended to the modal when searching users to add to the team of a project, it is pushed to the window but not shown until modal opens -->

<div id="user-search" >
  Search for friends to share music with:
  <br>
  <br>
  <input class="user-search" id="autocomplete">
</div>