<div class="users">
<h1>Users</h1>
<% @users.each do |user|  %>
<tr>
<td><%= image_tag user.avatar(:thumb) %></td>
<td><%= user.email %>
<%= link_to "Send Friend Request", friend_request_friendship_path(user) %></td>

<% end %>
</div>

