</div>
    </div>


    <div class="row">
      <div class="large-12 columns">

      <!-- Desktop Slider -->

        <div class="hide-for-small">
          <div id="featured">
                <img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image">
                <!-- <img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image">
                <img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image"> -->
            </div>
          </div>

      <!-- End Desktop Slider -->


      <!-- Mobile Header -->


      <div class="row">
        <div class="small-12 show-for-small"><br>
          <img src="http://placehold.it/1000x600&text=For Small Screens" />
        </div>
      </div>


    <!-- End Mobile Header -->

      </div>
    </div><br>

    <div class="row">
      <div class="large-12 columns">
        <div class="row">

      <!-- Thumbnails -->

          <div class="large-3 small-6 columns">
            <img src="http://i.imgur.com/ohUDSkn.jpg" />
            <h6 class="panel">Hot Artists</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://wadeoradio.com/wp-content/uploads/2011/05/rmt-1.jpg" />
            <h6 class="panel">New Music</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://societeperrier.com/wp-content/uploads/2013/02/heartgraph-600x400.jpg" />
            <h6 class="panel">Playlist Of the Day</h6>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://365thingsaustin.com/wp-content/uploads/2011/04/reggae-fest-austin.jpg" />
            <h6 class="panel">Reggae Thursdays</h6>
          </div>

      <!-- End Thumbnails -->

        </div>
      </div>
    </div>



    <div class="row">
      <div class="large-12 columns">
        <div class="row">

      <!-- Content -->


      <!-- End Content -->

        </div>
      </div>
    </div>
