// Place all the styles related to the Friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.friends img{
  height:80px;
  width:60px;

}
.requested img{
  height:80px;
  width:60px;

}

.pending_friends img{
  height:80px;
  width:60px;

}