// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* font-face */

body{
  background:url('subtledots.png');
  height:1500px;

}
.social img{
  height:50px;
  width:50px;
}

.featured img {

  height:100px;

}