<table>
  <tr>
    <th>Track #</th>
    <th>Album Artist</th>
    <th>Title</th>
    <th>Featured Artist</th>
    <th>Album</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Length</th>
    <th>Size</th>
    <th>BPM</th>
    
  </tr>
<div class="track-info">
    <%# binding.pry %>
    <% @tracks.each do |track| %>
        <% form_for track do |f| %>
      <%# binding.pry %>
        <td><%= f.track_number %></td>

        <% end %>
        <% end %>
</div>

    <!-- Footer -->