<h1>Playlists#index</h1>
<% @playlists.each do |pl| %>

<td><%= pl.name %></td>
<% end %>


<%= link_to 'Create Playlist', new_library_playlist_path(@library.id) %> | 
<%= link_to 'Back', library_path(current_user.library) %>
